<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css'%}">
  <link rel="icon" type="image/png" href="{% static 'images/ABAI_48.png' %}">
  <title>
    {% block title %}
      Authored by AI
    {% endblock %}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/ABAI_base.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class='ABAI-letters' style="font-size: 20px;">ABAI</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home' %}" style="font-size: 18px;">Home</a>
        </li>
      </ul>
    </div>
  </nav>  
  <div class="container">{% block content %} {% endblock %}</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
